<div class="back">
  <div class="div-center">
    <div class="content">
      <div class="Centered">
        <h5>Register&nbsp;&nbsp;</h5>
        <mat-slide-toggle
          [checked]='boolLogIn'
          (change)='onChangingSection()'>
      </mat-slide-toggle>
      <h5>&nbsp;&nbsp; Log In</h5>
      </div>
      <form *ngIf="boolLogIn" (submit)="LogIngUser($event)"> <!--(submit)="LogIn($event)" *ngIf="checkInicioSession"-->
        <hr />
        <div class="form-group">
          <label for="txtUserNameLog">UserName</label>
          <input type="text" class="form-control" required [(ngModel)]="userLogin.username" name="username" placeholder="UserName"> 
          <label for="txtPasswordLog">Password</label>
          <input type="password" class="form-control" required [(ngModel)]="userLogin.password" name="password" placeholder="Password">
        </div>
        <br>
        <div class="row ">
          <div class="col-md-12">
            <button class="btn btn-light btn-block" type="submit">Log In</button>
            <!-- (click)='LogIngUser()' -->
          </div>
        </div>
      </form>

      
      <form class="form-signin" (submit)="RegisteringUser($event)" *ngIf="boolRegister"> <!--(submit)="RegistroManual($event)" *ngIf="checkRegistro"-->
          <hr />
          <div class="row">
            <div class="form-group col-md-6">
              <label>First Name</label>
              <input type="text" class="form-control" required [(ngModel)]="userRegister.firstName" name="firstname" required placeholder="First Name">
            </div>
            <div class="form-group col-md-6">
              <label>Last Name</label>
              <input type="text" class="form-control" required [(ngModel)]="userRegister.lastName" name="lastname" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group">
              <label for="txtUserName">UserName</label>
              <input type="text" class="form-control" required [(ngModel)]="userRegister.username" name="username" placeholder="UserName">
              <label for="txtEmail">Email</label>
              <input type="email" class="form-control" required [(ngModel)]="userRegister.email" name="email" placeholder="Email">
              <label for="txtPassword">Password</label>
              <input type="password" class="form-control" required [(ngModel)]="userRegister.password" name="password" placeholder="Password">
          </div>
          <br>
          <div class="row ">
            <div class="col-md-12">
              <button class="btn btn-light btn-block" type="submit" > Register</button>
            </div>
          </div>
      </form>


    </div>
  </div>
