<div class="MessageContent">
    <div class="UserComment">
        <p><strong><a routerLink='/user/1'>UserName1:</a> </strong> User comment 1 <span>Date: 24/01/2020</span></p>
        <div>
            <span>Respond to the user</span>
            <div class="UserSubComment">
                <!-- <p><strong>UserName1: </strong> User subcomment comment 1 <span>Date: 24/01/2020</span></p> -->
                <app-picture-sub-comment></app-picture-sub-comment>
            </div>
        </div>
    </div>
</div>
<div class="MessageContent">
    <div class="UserComment">
        <p><strong>UserName2: </strong>User comment 2  <span>Date: 24/01/2020</span></p>
        <span>Respond to the user</span>
            <div class="UserSubComment">
                <!-- <app-picture-sub-comment></app-picture-sub-comment> -->
            </div>
    </div>
</div>