.MessageContent{
    background-color: #613e4d;
    border-radius: .7em;
}

.UserComment{
    margin-left: 1em;
}

.UserCommentBorder{
    background-color: #301f26;
    margin-top: .4em;
    padding-top: .5em;
    margin-left: .4em;
    padding-left: .5em;

    margin-bottom: .2em;
    padding-bottom: .5em;
    /* margin-right: .4em; */
    padding-right: .2em;


    border-radius: 1em;
}
div  a{
    text-decoration: none;
    color: white;;
}

div a:hover{
    color: #794d60;
}

.btn-purple{
  background-color:#553643;
  border-color: #180f13;
}
