<div class="card mb-3">
  <!-- <div *ngIf="isPicture"> -->
    <a (click)="goToPictureDetails()">
          <img src={{picture.imageURL}} class="card-img-top" alt="...">
    </a>
  <!-- </div> -->
  <div class="card-body">
    <h5 class="card-title">{{picture.title}}</h5>
    <!-- <p class="card-text">{{}}</p> -->
    <ngb-rating style="display: block;" [(rate)]="currentRate" [max]='5'></ngb-rating>
    <a href="#" class="btn btn-primary">Add to my collection</a>
  </div>
</div>

  <!-- <pre>Rate: <b>{{currentRate}}</b></pre> -->
