<div class="card mb-3  h-100">
  <!-- <div *ngIf="isPicture"> -->
  <!-- </div> -->
  <div class="card-body">
    <a class="btn" (click)="goToPictureDetails()">
      <img src={{picture.imageURL}} class="card-img-top btn-primary" alt="...">
    </a>
    <!-- <p class="card-text">{{}}</p> -->
  </div>
  <div class="card-footer">
    <h5 class="card-title">{{picture.title}}</h5>
    <h3>Rate picture</h3>
    <ngb-rating style="display: block;" [(rate)]="currentRate" (rateChange)='AddRatingToPicture()' [max]='5'></ngb-rating>
    <!-- <a href="#" class="btn btn-primary">Add to my collection</a> -->
  </div>
</div>

