<!-- <h2>NASA Gallery</h2>
<div class="card" style="width: 18rem;">
    <img src="https://cdn.britannica.com/29/148329-050-269A9EFE/night-sky-Milky-Way-Galaxy.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Milky Way Galaxy</h5>
      <p class="card-text">The Milky Way is the galaxy that contains our Solar System, with the name describing the galaxy's appearance from Earth: a hazy band of light seen in the night sky formed from stars that cannot be individually distinguished by the naked eye.</p>
      <ngb-rating style="display: block;" [(rate)]="currentRate" [max]='5'></ngb-rating>
      <a href="#" class="btn btn-primary">Add to my collection</a>
    </div>
  </div>
<hr> -->
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col" >
    
<app-picture></app-picture>
    <!-- <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div> -->
    
  </div>
  <div class="col">
<app-picture></app-picture>
    <!-- <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div> -->
  </div>
  <div class="col">
<app-picture></app-picture>
  </div>
  <div class="col">
<app-picture></app-picture>
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>

    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
<!-- <pre>Rate: <b>{{currentRate}}</b></pre> -->