<h2>NASA Gallery</h2>
<div class="card" style="width: 18rem;">
    <img src="https://cdn.britannica.com/29/148329-050-269A9EFE/night-sky-Milky-Way-Galaxy.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Milky Way Galaxy</h5>
      <p class="card-text">The Milky Way is the galaxy that contains our Solar System, with the name describing the galaxy's appearance from Earth: a hazy band of light seen in the night sky formed from stars that cannot be individually distinguished by the naked eye.</p>
      <ngb-rating style="display: block;" [(rate)]="currentRate" [max]='5'></ngb-rating>
      <a href="#" class="btn btn-primary">Add to my collection</a>
    </div>
  </div>

<hr>
<!-- <pre>Rate: <b>{{currentRate}}</b></pre> -->