/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #553643;
}

a {
  color: #794d60;
}

a {
  color: #794d60;
}

a:hover {
  color: #794d60;
}

h5,
h4,
h3 h2,
p,
label,
span {
  color: #ffffff;
}

.card {
  background-color: #794d60;
}

html,
body {
  height: 100%;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
th,
nav {
  font-family: "Bebas Neue", cursive;
}

html,
body {
  height: 100%;
}

.page-link {
  background-color: #0c080a;
  border-color: black;
  color: #794d60;
}
nav ul.pagination li.page-item.disabled a.page-link {
  background-color: #794d60;
  color: #0c080a;
  border-color: black;
}
.page-link:hover {
  background-color: #553643;
  color: #0c080a;
  border-color: black;
}
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
