<div class="col">
    <div class="row"> 
      <div class="col-3" *ngFor="let picture of pictures">
  
        <div class="card h-100">
            <a [routerLink]="['/', 'picture', picture.pictureID]">
                <img src="{{picture.imageURL}}" class="card-img-top" alt="...">
            </a>    
            <div class="card-body">
              <h5 class="card-title">{{picture.title}}</h5>
            </div>
            <div class="card-footer">
              <button (click)="removeFavorite(picture)" class="btn btn-danger">Remove Favorite</button>
            </div>
        </div>
      
      </div>

  </div>
</div>