<div class="jumbotron">
  <h1 class="display-4">NASA Photo of the Day</h1>
  <div><p class="lead">{{photos.title}}</p></div>
  <hr class="my-4">
  <div> <a class="btn" (click)="goToPictureDetails()"><img src={{photos.imageURL}} id="jumboImage"></a></div>
  <hr>
  <div><p class="lead">{{photos.description}}</p></div>
  <h3>Rate picture</h3>
  <ngb-rating style="display: block;" [(rate)]="currentRate" (rateChange)='AddRatingToPicture()' [max]='5'></ngb-rating>
    <!-- <a class="btn btn-primary btn-lg" href="#" role="button" >Add to collection</a> -->

</div>

<!-- <div class="card mb-3">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text" *ngFor="let photo of photos">{{photo.description}}</p>
      <a href="#" class="btn btn-primary" *ngFor="let photos of photos">{{dailyPhotos.ImageURL}}</a>
    </div>
  </div> -->
  <!-- <ul>
    <li *ngFor="let dailyPhoto of dailyPhotos">
      {{dailyPhoto.ImageURL}}
    </li>
  </ul> -->
