<div class="jumbotron">
  <h1 class="display-4">NASA Photo of the Day</h1>
  <div *ngFor="let photo of photos"><p class="lead">{{photo.Title}}</p>
  <hr class="my-4">
  <img src={{photo.ImageURL}}>
  <p class="lead">{{photo.Description}}</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Add to collection</a>
</div>
</div>

<!-- <div class="card mb-3">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text" *ngFor="let photo of photos">{{photo.description}}</p>
      <a href="#" class="btn btn-primary" *ngFor="let photos of photos">{{dailyPhotos.ImageURL}}</a>
    </div>
  </div> -->
  <!-- <ul>
    <li *ngFor="let dailyPhoto of dailyPhotos">
      {{dailyPhoto.ImageURL}}
    </li>
  </ul> -->
