<br>
<div class="form-inline">
    <div class="form-group">
        <label for="txtSearchUser">Search User &nbsp;&nbsp;</label>
        <input type="text" class="form-control" id="txtSearchUser" placeholder="Name of user">
    </div>

</div>
<div class="row">
    <div class="col-md-3 UserContent">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur placeat tenetur officiis nam eligendi architecto inventore eos reiciendis quod obcaecati earum, soluta expedita cupiditate provident voluptatem. Repudiandae explicabo perferendis odit.</p>
        <div class="messageBox">
          <img>
          <p class="userName">Name of user</p>
          <p class="messages">Messaging content inside of here</p>
        </div>
        </div>

    </div>
    <div class="col-md-9 MessagingContent">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae aut enim itaque possimus quos consequuntur illo eligendi dolores aspernatur, voluptas, sunt cumque exercitationem tempore at perspiciatis iure non consequatur tenetur?</p>
    </div>

