<br>

<div class="row">
    <div class="col-md-3 UserContent">
      <div id="messageWelcome">
       <h3>Inbox:</h3>
      </div>
        <div class="messageBox">
          <h4>Click a username to chat!</h4>
          <div *ngFor="let user of users"><p class="userName" (click)="getMessagesBetweenUser(user.id)">{{user.userName}}</p></div>
          <!-- <div><p class="messages" *ngFor="let message of messages">{{message.Text}}</p></div> -->
        </div>
      </div>

    </div>
    <div>
    <div class="col-md-9 MessagingContent scrollable">
      <div>
        <div class="talkBox" *ngFor="let message of messages"><p>{{message.sender.userName}}: {{message.text}}</p></div>
      </div>
    </div>
    <div id="chat">
      <!-- <form id="textChatForm"> -->
      <textarea type="text" class="form-control" placeholder="Say hello to your friend!" [(ngModel)]="currentMessageText" id="inputBox" (keypress)="keyPress($event)"></textarea>
      <button (click)="postMessageToUser(currentlyMessaging, currentMessageText)">Submit</button>
    <!-- </form> -->
    </div>
</div>
