p {
  font-weight: bold;
  color: black;
}

h3 {
  text-align: center;
}
h4 {
  color: black;
}

h5 {
  color: #0c080a;
}

a {
  cursor: pointer;
}

.MessagingContent {
  height: 400px;
  width: 100%;
  background-color: lavenderblush;
  overflow-y: scroll;
}

#messagebox {
  background-color: lavenderblush;
}

.MessagingContent::-webkit-scrollbar {
  width: 15px;
}

/* Track */
.MessagingContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
.MessagingContent::-webkit-scrollbar-thumb {
  background: grey;
  height: 5px;
  border-radius: 5px;
}

/* .talkBox {


} */
