
<!-- navbar-->
<nav ngbNav #nav="ngbNav" class="nav-tabs navbar-expand-lg navbar-light ">
  <ng-container ngbNavItem>
    <a class="myTitle" ngbNavLink routerLink='/dashboard'> 
      <b>
        {{title}}
      </b>
    </a>
  </ng-container>
  <!-- Toggle button for responsive navbar -->        
  <button class="navbar-toggler"
     type="button" 
     data-toggle="collapse" 
     data-target="#myNavBarItems" 
     aria-controls="myNavBarItems" 
     aria-expanded="false" 
     aria-label="Toggle navigation"
     (click)="isCollapsed = !isCollapsed"
     [attr.aria-expanded]="!isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- container for the collapsing routes -->
    <div class="collapse navbar-collapse" id='myNavBarItems' [ngbCollapse]="isCollapsed">

      <ng-container ngbNavItem class="nav-item nav-item2">
        <a ngbNavLink routerLink='/gallery'>User</a>
      </ng-container>
      <ng-container ngbNavItem class="nav-item nav-item2">
        <a ngbNavLink routerLink='/picture/upload'>Upload Picture</a>
      </ng-container>
      <ng-container ngbNavItem class="nav-item nav-item2">
        <a ngbNavLink routerLink='/messaging'>Messaging</a>
      </ng-container>
      <ng-container ngbNavItem class="nav-item nav-item2">
        <a ngbNavLink routerLink='/authentication'>Register / Log In</a>
      </ng-container>
    </div>
  <!-- </div> -->
</nav>
  
  
  <!-- Original form of nav -->
  <!-- <nav ngbNav #nav="ngbNav" class="nav-tabs navbar-expand-lg navbar-light ">
    <ng-container ngbNavItem>
      <a ngbNavLink routerLink='/authentication'>Register / Log In</a>
    </ng-container>
  </nav> -->
  

<router-outlet></router-outlet>

<!-- footer -->