.myTitle {
  font-size: 1.25em;
}

/**/
.nav-item2 {
  margin-bottom: -4px;
}
.icon {
  display: inline-flex;
  vertical-align: middle;
  color: #794d60;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active > .icon {
  color: #180f13;
}
nav {
  margin-bottom: 1.5em;
  background-color: #0c080a;
}

ul li a {
  color: #794d60;
}

ul li a:hover {
  color: #794d60;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #180f13;
  background-color: #6d4556;
  border-color: #794d60 #6d4556 #794d60;
}

.nav-tabs {
  border-bottom: 1px solid #794d60;
}

.nav-tabs:hover {
  border-color: #794d60;
}

.container {
  background-color: #6d4556;
}
