<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div class="imgContainer">
            <img src="" alt="">

        </div>

        <span>Rating: 0</span>
        <br>
        <button>Fav It</button>
        <span>Favorites: #</span>
    </div>
    <div class="col-md-5">
        <h2>Title of the picture</h2>

        <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure quasi quae assumenda maxime ducimus reprehenderit deleniti neque minus quod, impedit vero porro vel mollitia deserunt accusamus qui. Qui, quo inventore?</p>

        <p>Date: 24/1/2021</p>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">
    <div class="col-sm-12">
        <input type="text" class="form-group">
        <button class="btn btn-primary"> Comment</button>
        <div class="MessageContent">
            <div class="UserComment">
                <p><strong>UserName1: </strong> User comment 1 <span>Date: 24/01/2020</span></p>
                <div>
                    <span>Respond to the user</span>
                    <div class="UserSubComment">
                        <p><strong>UserName1: </strong> User subcomment comment 1 <span>Date: 24/01/2020</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="MessageContent">
            <div class="UserComment">
                <p><strong>UserName2: </strong>User comment 2  <span>Date: 24/01/2020</span></p>
            </div>
        </div>
    </div>
</div>