<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div class="imgContainer">
            <img src="{{picture.imageURL}}" alt="" class="img-fluid">

        </div>
        <br>
        <!-- <button>Fav It</button> -->


        <span>Favorites: {{favorites.length}}</span>
        <button mat-icon-button color="warn" (click)="postFavorite(loggedIn.id, picture.pictureID)" aria-label="Example icon button with a heart icon" class="myHeartReaction">
            <mat-icon>favorite</mat-icon>
        </button>
    </div>
    <div class="col-md-5">
        <h2>{{picture.title}}</h2>

        <p class="text-justify">{{picture.description}}</p>

        <p>Date: {{picture.date}}</p>

        <h3>Rate picture</h3>
        <ngb-rating style="display: block;" [(rate)]="currentRate" (rateChange)='AddRatingToPicture()' [max]='5'></ngb-rating>
    </div>
    <div class="col-md-1"></div>
</div>



<h3 class="text-center">Comments: </h3>

<div *ngIf="currentlyCommenting; else elseBlock">
  <!-- currently commenting -->
  <div class="row">
    <div class="col-sm-8 form-group ">
      <textarea rows=2  class="form-control" [(ngModel)]="currentCommentText" required placeholder="Comment text here"></textarea>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-primary btn-purple" (click)="createComment()"> Comment</button>
    </div>
  </div>
</div>
<ng-template #elseBlock>
  <button class="btn btn-primary btn-purple" (click)="startCommenting()"> Add Comment</button>
</ng-template>


<!-- <div class="row">
    <div class="col-sm-8 form-group ">
      <textarea rows=2  class="form-control" [(ngModel)]="currentCommentText" required placeholder="Message text here"></textarea>
    </div>
    <div class="col-sm-4">
        <button class="btn btn-primary btn-purple btn-block" (click)="createComment()"> Comment</button>
    </div>
</div> -->

<div *ngFor="let comment of allComments">
    <div class="row"*ngIf="comment.parentCommentId==null">
      <div class="col-sm-12">
          <app-picture-comment [picture]="picture" [comment]="comment" ></app-picture-comment>
      </div>
  </div>
</div>

