<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div class="imgContainer">
            <img src="{{picture.imageURL}}" alt="" class="img-fluid">

        </div>
        <br>
        <!-- <button>Fav It</button> -->
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" class="myHeartReaction">
            <mat-icon>favorite</mat-icon>
        </button>

        <span>Favorites: #</span>
    </div>
    <div class="col-md-5">
        <h2>{{picture.title}}</h2>

        <p class="text-justify">{{picture.description}}</p>

        <p>Date: {{picture.date}}</p>

        <h3>Rate picture</h3>
        <ngb-rating style="display: block;" [(rate)]="currentRate" (rateChange)='AddRatingToPicture()' [max]='5'></ngb-rating>
    </div>
    <div class="col-md-1"></div>
</div>

<p class="text-center">Comments: </p>
<div class="row">
    <div class="col-sm-8 form-group ">
        <input type="text" class="form-control" >
    </div>
    <div class="col-sm-4">
        <button class="btn btn-primary btn-block"> Comment</button>

    </div>
</div>
<div class="row">
    <div class="col-sm-12">

        <app-picture-comment >
        </app-picture-comment>
        <!-- <div class="MessageContent">
            <div class="UserComment">
                <p><strong>UserName1: </strong> User comment 1 <span>Date: 24/01/2020</span></p>
                <div>
                    <span>Respond to the user</span>
                    <div class="UserSubComment">
                        <p><strong>UserName1: </strong> User subcomment comment 1 <span>Date: 24/01/2020</span></p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>
