<div class="text-center">
    <h2>Welcome _name</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <p> First Name: </p>
        <p> Last Name:  </p>
        <p>User Name: </p>
        <p>Email: </p>
        <p>Change password</p>

        <button>Message Me</button>

    </div>
    <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus enim assumenda odit nesciunt at cum quasi ratione dicta suscipit dolor eum deleniti dolorem facilis nisi praesentium, libero illum soluta pariatur. </p>
        <div class="text-center"><h2>Following</h2></div>
        <div class="row">
            <!-- *ngFor -->
            <app-following></app-following>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h2>Favorites</h2>
        <!-- *ngFor -->
        <app-picture></app-picture>
    </div>
    <div class="col-md-1"></div>
</div>