<div class="text-center p-3 w-50">
    <h2>{{user.userName}}</h2>
</div>
<div class="row">
    <div class="col-6 text-center">
        <p>First Name: <span class="userinfo">{{user.firstName}}</span> </p>
        <p>Last Name: <span class="userinfo">{{user.lastName}}</span> </p>
        <p>Username: <span class="userinfo">{{user.userName}}</span> </p>
        <p>Email: <span class="userinfo">{{user.email}}</span> </p>

        
        <button class="btn btn-secondary" *ngIf="loggedIn.id!=undefined" (click)="openMessageDialog()">Message Me</button>   
        <ng-template *ngIf="loggedIn.id!=undefined" [ngIf]="!followerUserNames.includes(loggedIn.userName)">
            <button class="btn btn-primary"(click)="postFollow(user.id, loggedIn.id)">Follow</button>
        </ng-template>
        <ng-template *ngIf="loggedIn.id!=undefined" [ngIf]="followerUserNames.includes(loggedIn.userName)">
            <button class="btn btn-danger" (click)="deleteFollow(user.id)">Unfollow</button>
        </ng-template>

    </div>
    <div class="col-6 text-center">
        <div class="row container ">
            <div class="col-6 container">
                <table class="table table-striped table-dark rounded" style="width: 100%;">
                    <thead (click)="openFollowerDialog()">
                        <tr class="text-center">
                            <th>
                               Followers: {{followers.length}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let follower of followers.slice(0,4)">
                            <td><a  [routerLink]="['/', 'user', follower.userName]">{{follower.userName}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-6 container">
                <table class="table table-striped table-dark rounded" style="width: 100%;">
                    <thead (click)="openFollowingDialog()" >
                        <tr class="text-center">
                            <th>
                                Following: {{following.length}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let followed of following.slice(0,4)">
                            <td><a  [routerLink]="['/', 'user', followed.userName]">{{followed.userName}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>

<div class="row">
    <div class="col text-center pt-6">
        <h3>Favorites</h3>
        <app-favorites [loggedIn]="loggedIn" [user]="user" [pictures]="favorites"></app-favorites>
    </div>
</div>